.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  background-color : #ffffff;
  width : 100%;
  margin:  0 auto;
  display: block;
  text-align: center;
}
.grp{
  display: inline-block;
  border: 1px solid #cdcdcd;
  width: 20%;
  height: 60px;
  color:#696969;
  padding:10px;
  vertical-align: top;
  text-align: left;
}
.top{
  display: inline-block;
  border: 1px solid #cdcdcd;
  width: 20%;
  background-color: #eeeeee;
  padding: 10px;
  color:#a9a9a9;
  text-align: left;
  font-weight: bold;
}
.wrapper{
  width: 100%;
 
}
.tab_wrapper{
display: table;
margin: 0 auto;
width: 912px;
text-align: center;
padding-top: 20px;
}
.tabs{
  background-color: #6B8E23;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 18px;
    margin: 20px;
    display: inline-table;
    cursor: pointer;
}
.w1{
  color:#1F618D;
  font-size: 30px;
}
.w2{
  color:#1F618D;
  font-weight: bold;
  font-size: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.d_block{
  display: block;
}
.d_inline{
  display: inline;
}
.img_sec{
  width:40px;
  height: 40px;
  vertical-align: top;
}
.img_padding{
  padding-right: 10px;
}
.d_inline_block{
  display: inline-block;
}
.country{
  text-align: left;
  padding-left: 30px;
}
.cname{
  color:#1F618D !important;
}

.d_table{
  display: table;
}
.d_row{
  display: table-row;
}
.d_cell{
  display: table-cell;
}
.box1,.box3{
  width:15%;
}
.box2,.box4{
  width:25%;
}

.pricing{
  font-size:12px;
  text-align: center;
  color:#1F618D;
}
.price_img{
  width:80px;
  vertical-align: top;
}
.img_4{
  width:30px;
  background: url(https://i.imgur.com/VFFOjPk.png);
  height: 30px;
}
.small_font{
  font-size:12px;
  color:#a9a9a9;;
}
.width_100{
width:100%;
}

.padding_10{
  padding:10px;
}
.c_align{
  text-align: center;
}
.p_relative{
  position:relative;
}
.p_absolute{
  position:absolute;
}
.cal{
  position: absolute;
  top: 36px;
  z-index: 1;
}

.tabs:first-child{
  display:none;

}

.active{
  background-color: #ffffff;
  font-weight: normal;
  color: #808080;
  border:1px solid #808080;
}
  
.port{
  position: absolute;
}
.d_content{
  display: contents;
}
.modal {
  position: absolute;
  z-index: 999;
  width: 595px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  text-align: center;
  top: 62%;
  left: 0%;
  padding: 15px;
  -webkit-box-shadow: -2px 10px 12px 2px rgba(0,0,0,0.63);
-moz-box-shadow: -2px 10px 12px 2px rgba(0,0,0,0.63);
box-shadow: -2px 10px 12px 2px rgba(0,0,0,0.63);
}
.close{
  position: absolute;
    right: 0%;
    color: #090909;
    border: 1px solid #cdcdcd;
    width: 45px;
    background-color: beige;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    top: 0%;
}

.c_pointer{
  cursor: pointer;
}

.heading{
  display: block;
  color: orange;
  padding: 5px;
  font-weight: bold;
}
.info{
  padding: 10px;
}